@charset "utf-8";
/*
   New Perspectives on HTML5 and CSS3, 7th Edition
    Tutorial 2
    Case Problem 4
    
    The Great Lakescape Lodge
    Author: Wuxiao
    Date:   9th September 2025
   
   The Great Lakescape Lodge Layout Styles
   Filename: lake_layout.css

*/


/* Structural Styles */
@font-face {
  font-family:'adss';
  src: url(DobkinPlain.ttf);

}
@font-face {
  font-family:'abss';
  src: url(cac_champagne.ttf);

}
.fir
{
	font-family:abss;
	color: #ffffff;
	font-size: 35px;
	
}
.sec
{
	font-family:abss;
	color: #ffffff;
	font-size: 35px;
	
}
.thi
{
	font-family:abss;
	color: #ffffff;
	font-size: 35px;
}
.box-model
{
	margin-top:  px;
	margin-bottom: 10px;
	
	margin-left: 70px;
	width: 250px;
	height: 500px;
	background-color: blueviolet;
}

body {
	margin: 0 auto;
	width: 100%;
	max-width: 1020px;
	min-width: 640px;
}

body > header > img {
	width: 100%;
	display: block;
	margin: 0;
}

body > section#leftcol {
	width: 70%;
	float: left;
	margin-left: 0%;
	margin-right: 4%;
}
body > section#leftcol p {
	
	margin-left: 2%;
	margin-right: 1%;
}
body > section#leftcol d {
	
	margin-left: -1%;
	
}

body > section#rightcol {
	width: 24%;
	float: left;
	margin-right: 2%;
}
body>section#col
{
	 background-color: rgb(77, 29, 78); /* 设置紫色背景 */

  width: 30%;
  height: 1175px;
  float: left;
  margin-right: 0%;
  margin-left: -41px;
  /* 调整内边距，让内容与背景更协调 */
  padding: 20px;
}
blockquote::before
{
	content: open-quote;
	font-size: 2em;
	color: #c289dd;
	font-family: "Georgia", serif;
}
blockquote::after
{
	content: close-quote;
	font-size: 2em;
	color: #c289dd;
	font-family: "Georgia", serif;
}
body>section#col>blockquote
{
	
	color: #c289dd;
	font-family: "Georgia", serif; /* 优先用 Georgia，无则回退到通用衬线字体 */
    
  font-size: 20px;    /* 字体大小 */
}
footer {
	clear: both;
}

address, article, aside, blockquote, body, cite, 
div, dl, dt, dd, em, figcaption, figure, footer, 
h1, h2, h3, h4, h5, h6, header, html, img, 
li, main, nav, ol, p, section, span, ul {

   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;  
}


/* Header Navigation */

header > nav {
	display: table;
	width: 100%;
	background-color: rgb(118, 65, 130);
	
}

header > nav > ul {
	display: table-row;
	list-style-type: none;
}

header > nav > ul > li {
	display: table-cell;
	text-align: center;
}

header > nav a {
	display: block;
	width: 100%;
}


/* Section Layout */

section#leftcol aside {
	width: 42%;
	float: left;
	margin-left: 2.5%;
	margin-right: 2.5%;
	margin-bottom: 20px;
	
}

section#col nav ul
 {
	list-style-type: none;
	
 }
section#col nav a
 {
	color: #9e92a3;
	text-decoration: none;
 }


section#leftcol {
	color:rgb(255, 255, 255)
}
section#leftcol {
	background-color:rgb(0, 0, 0)
}
section#leftcol img {
	width: 100%;
	display: block;
}
h1
{
	text-align: center;
}
#lefcol{
	background-color: rgb(225, 121, 151);
	
	width: 10px; /* 固定背景色宽度为 500px */
      padding: 5px; /* 内边距扩展背景色范围（不影响 width 设定的 500px） */
      margin: 0 auto;
}
#rightcol{
	
	background-color: rgb(205, 199, 53);
	width: 30px; /* 固定背景色宽度为 500px */
      padding: 20px; /* 内边距扩展背景色范围（不影响 width ） */
      margin: 2px;
}
section#leftcol aside a
{
color: rgb(243, 148, 254);
}
header#titlesix nav a{
	color: rgb(233, 189, 238);
	 text-decoration: none;
}
.last
{
	color: #ffffff;
	background-color: #424242;
	text-align: center
}
.wel
{
	font-family: abss;
	font-size: 30px;
}